@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');

/********** Template CSS **********/

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}
/*** Spinner ***/

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  z-index: 99;
}

/*** Button ***/
.btn {
  font-weight: 600;
  transition: .5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50%;
}

.btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-primary:hover {
  box-shadow: inset 300px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

.btn.btn-light {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.btn.btn-light:hover {
  box-shadow: inset 300px 0 0 0 var(--bs-primary);
  color: var(--bs-light) !important;
}

.btn-hover {
  transition: 0.5s;
}

.btn-hover:hover {
  color: var(--bs-secondary) !important;
}

/*** Section Titre ***/
.section-title {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.section-title .sub-style{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #00B98E;
}

.section-title .sub-style::before {
  content: "";
  width: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-top: 8px;
  margin-left: -100px;
  border: 1px solid #00B98E !important;
}

.section-title .sub-style::after {
  content: "";
  width: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-bottom: 5px;
  margin-left: -50px;
  border: 1px solid #00B98E !important;
}

.sub-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #00B98E;
}

.sub-title::before {
  content: "";
  width: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-top: 8px;
  margin-right: -100px;
  border: 1px solid #00B98E !important;
}

.sub-title::after {
  content: "";
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-bottom: 8px;
  margin-right: -50px;
  border: 1px solid #00B98E !important;
}


/*** Topbar ***/
.fixed-top .container {
  transition: 0.5s;
}

.topbar {
  padding: 2px 10px 2px 20px;
  background: var(--bs-primary) !important;
}

.topbar a,
.topbar a i {
  transition: 0.5s;
}

.topbar a:hover,
.topbar a i:hover {
  color: var(--bs-secondary) !important;
}


@media (max-width: 576px) {
  .topbar {
      display: none;    
  }
}
/*** Topbar ***/


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  margin-right: 25px;
  padding: 35px 0;
  color: var(--bs-dark) !important;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #00B98E !important;
}

.navbar-light .navbar-brand img {
  max-height: 120px;
  transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 120px;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
      display: block;
      visibility: hidden;
      top: 100%;
      transform: rotateX(-75deg);
      transform-origin: 0% 0%;
      border: 0;
      border-radius: 10px;
      transition: .5s;
      opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: #00B98E;
  color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  transition: .5s;
  opacity: 1;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
      position: relative;
      background: var(--bs-white);
  }

  .navbar.navbar-expand-lg .navbar-toggler {
      padding: 10px 20px;
      border: 1px solid var(--bs-primary);
      color: var(--bs-primary);
  }

  .navbar-light .navbar-collapse {
      margin-top: 15px;
      border-top: 1px solid #DDDDDD;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
      padding: 10px 0;
      margin-left: 0;
      color: var(--bs-dark) !important;
  }

  .navbar-light .navbar-brand img {
      max-height: 45px;
  }
}

@media (min-width: 992px) {
  .navbar-light {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .1);
      z-index: 999;
  }
  
  .sticky-top.navbar-light {
      position: 'fixed-top';
      background: var(--bs-light) !important;
  }

  .navbar-light .navbar-nav .nav-link::before {
      position: fixed;
      content: "";
      width: 0;
      height: 2px;
      bottom: -1px;
      left: 50%;
      background: #00B98E;
      transition: .5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
      width: calc(100% - 2px);
      left: 1px;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
      display: none;
  }
}
/*** Carousel Hero Header Start ***/
.header-carousel {
  position: relative; 
}

.header-carousel .owl-nav .owl-prev {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--bs-primary);
  color: var(--bs-white);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-next {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--bs-primary);
  color: var(--bs-white);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  box-shadow: inset 150px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

@media (max-width: 576px) {
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
      top: 630px;
      transition: 0.5s;
  }

  .header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
      width: 95% !important;
  }

}

.header-carousel .header-carousel-item,
.header-carousel .header-carousel-item img {
  position: relative;
  width: 100%;
  height: 700px;
  margin-top: 95px;
  display: block;
  object-fit: cover;
  transition: 0.5s;

}

@media (max-width: 992px) {
  .header-carousel .header-carousel-item,
  .header-carousel .header-carousel-item img {
      margin-top: 0;
      transition: 0.5s;
  }

}

@media (min-width: 992px) {
  .header-carousel .owl-nav .owl-prev,
  .header-carousel .owl-nav .owl-next {
      margin-top: 50px;
  }
}

.header-carousel .header-carousel-item .carousel-caption {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}

.header-carousel .header-carousel-item .carousel-caption .carousel-caption-content {
  position: relative;
  width: 75%;
  
}
/*** Carousel Hero Header End ***/


/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 0 60px 0;
}

.bg-breadcrumb .breadcrumb-item a {
  color: var(--bs-white) !important;
}
/*** Single Page Hero Header End ***/

/*** Début service ***/

.service .service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .2) ;
}

.service .service-item .service-img {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.service .service-item .service-img img {
  transition: 0.5s;
}

.service .service-item .service-img::before {
  width: 100%;
  height: 0;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
  z-index: 5;
  
}

.service .service-item .service-img:hover img {
  transform: scale(1.3);
}

.service .service-item .service-content {
  position: relative;
  z-index: 2;

}

.service .service-item .service-content::before {
  width: 100%;
  height: 8px;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background:#00B98E;
  transition: 0.5s;
  z-index: 3;
}

.service .service-item:hover .service-content::before {
  background: #00B98E;
  height: 100%;
}

.service .service-item .service-content .service-content-inner {
  transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
  position: relative;
  color: var(--bs-white) !important;
  z-index: 9;
}
.service .service-item:hover .service-content .service-content-inner h5 {
  color: var(--bs-dark);
}

/*** Fin service ***/


/*** Debut apropos ***/
.apropos .apropos-img {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
}

.apropos .apropos-img .apropos-img-inner {
  position: absolute;
  left: 0; 
  bottom: 0; 
  border: 10px solid; 
  border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
  border-radius: 50%;

}

.apropos .apropos-img .apropos-experience {
  position: absolute;
  top: 125px; 
  left: -125px; 
  transform: rotate(-90deg);
  background: transparent;
  color: var(--bs-primary);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
}

/*** Fin Apropos ***/

/*** Feature Start ***/
.feature .feature-item {
  position: relative;
  display: flex;
  border: 1px solid #00B98E;
  border-radius: 10px;
  background: var(--bs-light);
  transition: 0.5s;

}

.feature .feature-item::before {
  width: 0;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.5s;
}

.feature .feature-item:hover::before {
  width: 100%;
  background: #00B98E;
}

.feature .feature-item .feature-icon {
  display: inline-flex;
  border-radius: 10px;
  transition: 0.5s;
}

.feature .feature-item:hover .feature-icon {
  position: relative;
  z-index: 2;
}

.feature .feature-item:hover .feature-content {
  position: relative;
  color: var(--bs-white);
  z-index: 2;
}

.feature .feature-item:hover .feature-content h5 {
  color: var(--bs-dark);
}
/*** Feature End ***/
.appointment .appointment-form {
  background: rgba(239, 162, 134, 0.3);
}

.appointment .appointment-form .btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.appointment .appointment-form .btn.btn-primary:hover {
  box-shadow: inset 600px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}
/*** Appointment End ***/


/*** Team ***/
.team-item {
  position: relative;
  text-align: center;
  transition: .5s;
  z-index: 1;
}

.team-item::before,
.team-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 40%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background:#FFFFFF;
  box-shadow: 0 0 45px rgba(0, 0, 0, .07);
  transition: .5s;
  z-index: -1;
}

.team-item::after {
  top: auto;
  bottom: 0;
}

.team-item:hover::before,
.team-item:hover::after {
  background: #00B98E;
}

.team-item h5,
.team-item p {
  transition: .5s;
}

.team-item:hover h5,
.team-item:hover p {
  color: #FFFFFF;
}

.team-item img {
  padding: 15px;
  border: 1px solid #00B98E;
}
/*** Team End ***/


/* price start */

.price-carousel::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background: #00B98E;
  border-radius: 8px 8px 50% 50%;
  z-index: -1;
}

.price-carousel .owl-nav {
  margin-top: 35px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next{
  position: relative;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00B98E;
  background: #FFFFFF;
  font-size: 22px;
  border-radius: 45px;
  transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  color: #00B98E;
}


/* price end */

/*** Blog Start ***/
.blog .blog-item .blog-img {
  position: relative;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog .blog-item .blog-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.5s;
}

.blog .blog-item .blog-img img {
  transition: 0.5s;
}

.blog .blog-item .blog-img:hover img {
  transform: scale(1.3);
}

.blog .blog-item:hover .blog-img::after {
  background: #00B98E;
}

.blog .blog-item .blog-centent {
  background: var(--bs-light);
  border: 1px solid var(--bs-primary);
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*** Blog End ***/


/*** Contact Start ***/
.contactdoleance {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(/img/contact.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contactdoleance .contactdoleance-form {
  background: rgba(239, 162, 134, 0.3);
}

.contactdoleance .contactdoleance-form .btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.contactdoleance .contactdoleance-form .btn.btn-primary:hover {
  box-shadow: inset 600px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

/*** Footer Start ***/
.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(/img/propos1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

.footer .footer-item a {
  line-height: 35px;
  color: white;
  transition: 0.5s;
}

a {
  text-decoration: none;
}

.footer .footer-item p {
  line-height: 35px;
}

.footer .footer-item a:hover {
  letter-spacing: 2px;
  color: var(--bs-success);
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
  background-color: #1D2A4D !important;
  font-size: 20px;
}
/*** copyright end ***/

